.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
#block-body {
    width: 1035px;
    min-height: 600px;
    margin: 0 auto;
}
#block-header {
    width: 1035px;
    min-height: 220px;
}
#block-right {
    width: 220px;
    min-height: 400px;
    float: right;
}
#block-content {
    width: 800px;
    min-height: 400px;
}
#header-top-block {
    width: 1035px;
    height: 35px;
}
#block-footer {
    width: 1035px;
    height: 160px;
    margin-top: 10px;
  clear: both;
}
#header-top-menu li{
  font: 15px sans-serif;
  float: left;
  margin-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  border-right: 1px solid #B3B3B3;
}
#header-top-menu li:last-child{
  border-right: none;
}
#header-top-menu a {
  font: 15px sans-serif;
  color: #00678C;
  text-decoration: none;
}
#header-top-menu a:hover,
#header-top-menu span {
  color: #EF662B;
  border-bottom: 1px dashed #EF662B;
}
#reg-auth-title {
  margin-top: 5px;
  margin-right: 10px;
  float: right;
}
#reg-auth-title .top-auth {
  font: bold 13px sans-serif;
  background:linear-gradient(rgba(245,246,246,1) 0%, rgba(219,220,226,1) 46%, rgba(184,186,198,1) 100%);
  padding: 4px 8px;
  border: 1px solid #E9EAEA;
  border-radius: 5px;
  cursor: pointer;
}
#reg-auth-title .top-auth:hover {
  background:linear-gradient(rgba(224,243,250,1) 14%, rgba(224,243,250,1) 14%, rgba(184,226,246,1) 51%, rgba(123,198,252,1) 100%);
}
#reg-auth-title a {
  font: 14px sans-serif;
  text-decoration: none;
  color: #EF662B;
  margin-left: 10px;
  border-bottom: 1px dashed #EF662B;
}
#reg-auth-title a:hover {
  border-bottom: none;
}
.line {
  border: none;
  height: 1px;
  background: rgba(0,0,0,0.35);
  margin: 0;
  margin-bottom: 10px;
}
/*
.img-logo {
  margin-top: 12px;
}
*/
.personal-info {
  float: right;
  margin-right: 10px;
}
.personal-phone,
.personal-time {
  font: 15px sans-serif;
  text-align: right;
  padding-right: 45px;
  padding-bottom: 10px;
  margin-top: 0;
}
.personal-phone {
/*  margin-top: 0;*/
  background: url(../img/icon-phone.png) no-repeat top right;
}
.personal-time {
  background: url(../img/icon-time.png) no-repeat top right;
}
#block-search {
  width: 345px;
  float: right;
  margin-top: -15px;
}
#input-search {
  font: 14px sans-serif;
  width: 250px;
  height: 26px;
  border: 1px solid #E1E1E2;
  padding-left: 23px;
}
#button-search {
  width: 58px;
  height: 30px;
  border: 1px solid #E1E1E2;
  margin-left: -5px;
  background-image: linear-gradient(to top, rgb(236, 236, 236), rgb(245, 245, 245));
  cursor: pointer;
}
#button-search:hover {
  background-image: linear-gradient(to top, rgb(245, 245, 245), rgb(236, 236, 236));
}
#block-search form {
  position: relative;
}
#block-search span {
  position: absolute;
  top: 30%;
  left: 5px;
  width: 13px;
  height: 13px;
  background: url(../img/icon-search.png) no-repeat;
}
#top-menu {
/*  border: 1px solid #000;*/
  width: 1033px;
  height: 45px;
  margin-top: 5px;
}
#top-menu li {
  float: left;
  margin-left: 10px;
  margin-top: 8px;
}
#top-menu li:last-child {
  float: right;
  margin-right: 10px;
  margin-top: 10px;
}
#top-menu a {
  font: 15px sans-serif;
  color: #34659D;
  margin-left: 4px;
  margin-right: 3px;
  text-decoration: none;
  border-bottom: 1px dashed #34659D;
}
#top-menu a:hover {
  color: #EF662B;
  border-bottom: 1px dashed #EF662B;
}
#top-menu img {
  float: left;
  margin-top: -7px;
}
#block-category {
  width: 220px;
  min-height: 100px;
  margin-bottom: 10px;
}
.header-title {
  box-sizing: border-box;
  font: 14px sans-serif;
/*  width: 200px;*/
  width: 100%;
  margin-top: 0;
  padding: 7px 10px;
  color: #fff;
  border-radius: 5px 5px 0 0;
  background-image: linear-gradient(#87B557, #4C9236);
}
#block-category > ul > li {
  border-bottom: 1px solid #EFEFEF;
}
#block-category > ul > li > a {
  display: block;
  position: relative;
  font: 15px sans-serif;
  color: #000;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 30px;
  text-decoration: none;
  cursor: pointer;
}
#block-category > ul > li > a:hover {
  background-color: #EEE;
}
.category-img {
  position: absolute;
  left: 3px;
}
.category-section {
  margin-left: 25px;
  margin-bottom: 5px;
}
.category-section li {
  margin-top: 3px;
}
.category-section a {
  font: 15px sans-serif;
  text-decoration: none;
  color: #000;
}
.category-section a:hover {
  text-decoration: underline;
}
#block-parametr {
  width: 220px;
  min-height: 100px;
}
.title-filter {
  font: bold 14px sans-serif;
  margin-top: 0;
  margin-bottom: 10px;
}
#block-input-price li {
  float: left;
  margin-left: 10px;
}
#block-input-price input {
  width: 45px;
  height: 20px;
  font: 14px sans-serif;
  border: 1px solid #DCDCDC;
  padding-left: 5px;
}
#block-input-price p {
  display: inline-block;
  font: 14px sans-serif;
  margin-top: 0;
  padding-top: 2px;
}
#block-track-bar {
  width: 220px;
  height: 20px;
  border: 1px solid black;
  margin-top: 10px;
  clear: both;
  margin-bottom: 10px;
}
.checkbox-brand {
  margin-bottom: 20px;
}
.checkbox-brand li {
  font: 14px sans-serif;
  margin-left: 5px;
  margin-top: 3px;
}
.checkbox-brand input {
  margin-right: 8px;
}
#button-param-search {
  display: block;
  font: 15px sans-serif;
  width: 80px;
  height: 27px;
  background-image: linear-gradient(to top, rgb(236, 236, 236), rgb(245, 245, 245));
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px auto;
}
#button-param-search:hover {
  background-image: linear-gradient(to bottom, rgb(236, 236, 236), rgb(245, 245, 245));
}
#block-news {
  width: 220px;
  margin-top: 15px;
  margin-bottom: 15px;
}
#block-news img {
  display: block;
  margin: 5px auto;
  cursor: pointer;
}
#newsticker {
  width: 220px;
  border-top: 1px solid #DDD;
}
#newsticker p {
  font: 14px sans-serif;
  margin-top: 5px;
  margin-bottom: 5px;
}
#newsticker li {
  border-bottom: 1px solid #DDD;
  padding-top: 15px;
  padding-bottom: 15px;
}
#newsticker a {
  color: #EF662B;
  font: bold 14px sans-serif;
  text-decoration: none;
}
#newsticker a:hover {
  text-decoration: underline;
}
#newsticker date {
  display: block;
  font: 13px sans-serif;
  padding-bottom: 5px;
  color: #636363;
}
#footer-suport {
  width: 270px;
  float: left;
  margin-right: 10px;
  margin-top: 10px;
}
#footer-suport .phone-item {
  font: bold 23px sans-serif;
  margin: 5px 0;
}
#footer-suport .suport-title {
  font: bold 15px sans-serif;
  margin: 0;
}
#footer-suport .time-item {
  font: 15px sans-serif;
  margin: 5px 0;
}
.footer-list {
  width: 200px;
  float: left;
  margin-left: 10px;
}
.footer-list li {
  margin-top: 5px;
}
.footer-list p {
  font: bold 14px sans-serif;
  margin-bottom: 10px;
  color: #641B74;
}
.footer-list a {
  font: 14px sans-serif;
  text-decoration: none;
  color: #7b7b7b;
}
.footer-list a:hover {
  text-decoration: underline;
}
#nav-breadcrumbs {
  margin-top: 5px;
}
#nav-breadcrumbs a {
  font: 14px sans-serif;
  color: #4268B1;
  text-decoration: none;
}
#nav-breadcrumbs a:hover {
  color: #B20000;
}
#nav-breadcrumbs span {
  font: 14px sans-serif;
  color: #7F868E;
}
#block-sort {
  height: 60px;
  border-bottom: 1px solid #eee;
}
#option-list > li {
  float: left;
  margin-left: 10px;
  font: 14px sans-serif;
}
#option-list img {
  margin-top: -4px;
  cursor: pointer;
}
#option-list {
  margin-left: -10px;
}
#select-sort {
  position: relative;
  color: #748996;
  text-decoration: underline;
  cursor: pointer;
}
#sorting-list {
  border: 1px solid #A3C0D2;
  position: absolute;
  width: 200px;
  background-color: #fff;
  padding-top: 5px;
  display: none;
/*  height: 108px;*/
}
#sorting-list li {
  margin-top: 3px;
  margin-left: 10px;
}
#sorting-list a {
  font: 15px sans-serif;
  text-decoration: none;
  color: #000;
}
#sorting-list a:hover {
  text-decoration: underline;
}
#block-product-grid > li {
  width: 380px;
  height: 230px;
  float: left;
  margin-left: 10px;
  margin-top: 15px;
}
.block-img-grid {
  width: auto;
  height: 230px;
  float: left;
  margin-right: 15px;
}
.title-grid {
  margin-top: 0;
  margin-bottom: 0;
}
.title-grid a {
  font: bold 15px sans-serif;
  color: #0A83AB;
  text-decoration: underline;
}
.title-grid a:hover {
  color: #E26666;
}
.reviews-counts-grid {
  height: 20px;
  margin-top: 5px;
}
.reviews-counts-grid > li {
  float: left;
  margin-left: 10px;
  margin-top: 3px;
}
.reviews-counts-grid > li span{
  margin-left: 25px;
  font: 13px sans-serif;
/*  margin-top: -1px;*/
}
.reviews-counts-grid > li > img {
  position: absolute;
  margin-top: 2px;
}
.price-grid {
  font: 16px sans-serif;
  margin-top: 7px;
}
.price-grid strong {
  font: 23px sans-serif;
  color: #6B6D73;
}
.add-cart-grid {
  display: block;
  width: 48px;
  height: 25px;
  cursor: pointer;
  float: left;
  margin-top: 8px;
  margin-right: 10px;
  background: linear-gradient(to bottom, rgb(253, 170, 104), rgb(247, 123, 49));
  border-radius: 5px;
  box-shadow: 1px 1px 0 0 #a0a0a0;
}
.add-cart-grid:hover {
  background: linear-gradient(to bottom, rgb(250, 186, 115), rgb(249, 152, 47));
}
.add-cart-grid:active {
  background: #fc9a37;
}
.cart-img {
  display: block;
  width: 48px;
  height: 25px;
  cursor: pointer;
  background: url(../img/add-cart.png) no-repeat center center;
  background-size: 40%;
}
.mini-features {
  width: 335px;
  font: 14px/18px sans-serif;
  margin-top: 10px;
}